@import "tailwindcss";

:root {
  --bg: #eaf1f4;
  --primary: #b2d6e3;
  --secondary: #d2eaf2;
  --accent: #38bdf8;
  --danger: var(--color-red-600);
  --text: #1a2327;
  --muted: #829297;
  --link: var(--color-blue-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #262d31;
    --primary: #0f1f2b;
    --secondary: #1e425e;
    --accent: #007c82;
    --danger: var(--color-red-400);
    --text: #d2e1e6;
    --link: var(--color-blue-300);
  }
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--exo), Arial, Helvetica, sans-serif;
}
